.container{
    width: 950px;
    background-color: silver;
    margin: 0 auto;
    height:600px;
}
.top-nav {
    background-color: green;
    height:120px;
    width: 912px;
    margin:20px;
    display: inline-block;

}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin:20px;
    margin-top:-10px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin:40px;
    margin-left:230px;
    margin-top:-320px;


}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-left:10px;
    margin-top:15px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 20px;
    margin-left: 10px;
}


